[submodule "blocks/quickmail"]
	path = blocks/quickmail
	url = git://github.com/lsuits/quickmail.git
[submodule "blocks/quickcourselist"]
	path = blocks/quickcourselist
	url = git://github.com/marxjohnson/moodle-block_quickcourselist.git
[submodule "blocks/quickfindlist"]
	path = blocks/quickfindlist
	url = git://github.com/marxjohnson/moodle-block_quickfindlist.git
[submodule "blocks/admin_presets"]
	path = blocks/admin_presets
	url = git://github.com/dmonllao/moodle-block_admin_presets.git
[submodule "local/camtasia_relay"]
	path = local/camtasia_relay
	url = git://github.com/TechSmith/Moodle-Camtasia_Relay-Plugin.git
[submodule "blocks/dndupload"]
	path = blocks/dndupload
	url = git://github.com/davosmith/moodle-block_dndupload.git
[submodule "blocks/ajax_marking"]
	path = blocks/ajax_marking
	url = git://github.com/mattgibson/moodle-block_ajax_marking.git
[submodule "blocks/forum_block"]
	path = blocks/forum_block
	url = git://github.com/t6nis/moodle2-block_forum_block.git
[submodule "blocks/userinfo"]
	path = blocks/userinfo
	url = git://github.com/fbotti/moodle-block_userinfo.git
[submodule "blocks/fn_marking"]
	path = blocks/fn_marking
	url = https://github.com/fernandooliveira/moodlefn-marking
[submodule "local/codechecker"]
	path = local/codechecker
	url = git://github.com/moodlehq/moodle-local_codechecker.git
[submodule "admin/tool/editrolesbycap"]
	path = admin/tool/editrolesbycap
	url = git://github.com/moodleou/moodle-tool_editrolesbycap.git
[submodule "local/moodlecheck"]
	path = local/moodlecheck
	url = git://github.com/marinaglancy/moodle-local_moodlecheck.git
